# Seguranca
SECRET_KEY=sua chave django aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Banco de Dados <- este bloco é ignorado caso DEBUG seja TRUE
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# E-mail
EMAIL_HOST_USER=seu@email.com
EMAIL_HOST_PASSWORD=

# Google Drive
GDRIVE_ROOT_FOLDER_ID=
