@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
    --main: #102A43;
    --secondary: #B9D037;
    --light-font: #424242;
    --light-font2: #353535;
    --contour-form: #B6B6B6;
    --area-background: #35353526;
    --st-ativo: #0068DF;
    --st-vencendo: #CEB13C;
    --st-vencido: #C23134;
    --st-concluido: #35B744;
    --st-ativo-background: #0068DF26;
    --st-vencendo-background: #CEB13C26;
    --st-vencido-background: #C2313426;
    --st-concluido-background: #35B74426;
}

body{
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
  padding: 20px;
}

header.cabecalho_principal, main.conteudo_principal{
  background-color: var(--area-background);
  border-radius: 20px;
}