{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base | Teste{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <header class="cabecalho_principal">
        <div class="container_logo"><img src="{% static 'img/logo-header.png' %}" alt=""></div>
        <div></div>
        <div></div>
    </header>
    <main class="conteudo_principal">
        {% block content %}{% endblock %}
    </main>
</body>
</html>