{% extends 'base.html' %}
{% load static %}

{% block title %}Configurações | Supera{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/configuracoes.css' %}?v=1"/>
{% endblock %}

{% block content %}
<h1 style="color: var(--light-font2); margin: 20px 30px;">Configurações</h1>

<div class="container_alter-users">
    <div class="configuracoes_usuario">
      <h2>Alterar meus dados</h2>
      <form id="formPerfil" onsubmit="atualizarPerfil(event)">
        <div>
          <div class="form-group">
            <label>E-mail</label>
            <input
              type="email"
              id="meuEmail"
              class="input-inline"
              value="{{ request.user.email }}"
              required
            />
          </div>
          <div class="form-group">
            <label>Nova Senha (deixe em branco para não alterar)</label>
            <input type="password" id="minhaSenha" class="input-inline" />
          </div>
        </div>
        <button type="submit" class="btn-submit-modal">
          Salvar Alterações
        </button>
      </form>
    </div>
    
    {% if request.user.role == 'admin' %}
    <div class="criar_usuario">
      <h2>
        Criar novo usuário
      </h2>
      <form id="formConvite" onsubmit="enviarConvite(event)">
        <div>
          <div class="form-group">
            <label>Nome Completo</label>
            <input type="text" id="conviteNome" class="input-inline" required />
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="email" id="conviteEmail" class="input-inline" required />
          </div>
          <div class="form-group form-group-full">
            <label>Papel no Sistema</label>
            <select id="conviteRole" class="input-inline" required>
              <option value="padrao">Usuário Padrão</option>
              <option value="admin">Administrador</option>
            </select>
          </div>
        </div>
        <button
          type="submit"
          class="btn-submit-modal"
        >
          Enviar Convite
        </button>
      </form>
      {% endif %}
    </div>
</div>

<script src="{% static 'scripts/configuracoes.js' }"></script>
{% endblock %}
