{% extends 'base.html' %}
{% load static %}

{% block title %}Gerenciar Processos - Supera{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gerenciamento_processo.css' %}?v=1">
{% endblock %}

{% block content %}
<aside class="filtro_processos">
        <button class="btn-filtro btn-filtro__actived">Prefeitura</button>
        <button class="btn-filtro">Bombeiros</button>
</aside>
<div class="kanban-wrapper">
    
    <div id="kanbanBoard" class="kanban-board">
        <!--STATUS EXCLUÍDOS-->
        <div class="kanban-column" style="border: 1px solid var(--light-font2)" data-status="EXCLUIDO">
            <div class="column-header" style="background-color: var(--area-background); color: var(--light-font2);">
                <h3 class="titulo-status" style="background-color: var(--light-font2); color: #fff;">Excluídos</h3>
                <button class="btn-add" style="color: var(--light-font2);" onclick="abrirModalCriacao('EXCLUIDOS')"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="cards-container" style="background-color: var(--area-background);">
                {% for processo in processos_excluidos %}
                    {% include 'partials/card_processo.html' with processo=processo %}
                {% endfor %}
            </div>
            <div class="footer" style="background-color: var(--area-background); color: var(--light-font2);">
                <i class="fa-solid fa-plus footer_elemento"></i>
                <button class="footer_elemento" style="color: var(--light-font2);" onclick="abrirModalCriacao('EXCLUIDOS')">Adicionar Processo</button>
            </div>
        </div>

        <!--STATUS ATIVOS-->
        <div class="kanban-column" style="border: 1px solid var(--st-ativo)" data-status="ATIVO">
            <div class="column-header" style="background-color: var(--st-ativo-background); color: var(--st-ativo);">
                <h3 class="titulo-status" style="background-color: var(--st-ativo); color: #fff;">Ativos</h3>
                <button class="btn-add" style="color: var(--st-ativo);" onclick="abrirModalCriacao('ATIVOS')"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="cards-container" style="background-color: var(--st-ativo-background);">
                {% for processo in processos_ativos %}
                    {% include 'partials/card_processo.html' with processo=processo %}
                {% endfor %}
            </div>
            <div class="footer" style="background-color: var(--st-ativo-background); color: var(--st-ativo);">
                <i class="fa-solid fa-plus footer_elemento"></i>
                <button class="footer_elemento" style="color: var(--st-ativo);" onclick="abrirModalCriacao('ATIVOS')">Adicionar Processo</button>
            </div>
        </div>

        <!--STATUS VENCENDO-->
        <div class="kanban-column" style="border: 1px solid var(--st-vencendo)" data-status="VENCENDO">
            <div class="column-header" style="background-color: var(--st-vencendo-background); color: var(--st-vencendo);">
                <h3 class="titulo-status" style="background-color: var(--st-vencendo); color: #fff;">Vencendo</h3>
                <button class="btn-add" style="color: var(--st-vencendo);" onclick="abrirModalCriacao('VENCENDO')"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="cards-container" style="background-color: var(--st-vencendo-background);">
                {% for processo in processos_vencendo %}
                    {% include 'partials/card_processo.html' with processo=processo %}
                {% endfor %}
            </div>
            <div class="footer" style="background-color: var(--st-vencendo-background); color: var(--st-vencendo);">
                <i class="fa-solid fa-plus footer_elemento"></i>
                <button class="footer_elemento" style="color: var(--st-vencendo);" onclick="abrirModalCriacao('VENCENDO')">Adicionar Processo</button>
            </div>
        </div>

        <!--STATUS VENCIDOS-->
        <div class="kanban-column" style="border: 1px solid var(--st-vencido)" data-status="VENCIDO">
            <div class="column-header" style="background-color: var(--st-vencido-background); color: var(--st-vencido);">
                <h3 class="titulo-status" style="background-color: var(--st-vencido); color: #fff;">Vencidos</h3>
                <button class="btn-add" style="color: var(--st-vencido);" onclick="abrirModalCriacao('VENCIDO')"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="cards-container" style="background-color: var(--st-vencido-background);">
                {% for processo in processos_vencidos %}
                    {% include 'partials/card_processo.html' with processo=processo %}
                {% endfor %}
            </div>
            <div class="footer" style="background-color: var(--st-vencido-background); color: var(--st-vencido);">
                <i class="fa-solid fa-plus footer_elemento"></i>
                <button class="footer_elemento" style="color: var(--st-vencido);" onclick="abrirModalCriacao('VENCIDOS')">Adicionar Processo</button>
            </div>
        </div>

        <!--STATUS CONCLUÍDOS-->
        <div class="kanban-column" style="border: 1px solid var(--st-concluido)" data-status="CONCLUIDO">
            <div class="column-header" style="background-color: var(--st-concluido-background); color: var(--st-concluido);">
                <h3 class="titulo-status" style="background-color: var(--st-concluido); color: #fff;">Concluídos</h3>
                <button class="btn-add" style="color: var(--st-concluido);" onclick="abrirModalCriacao('CONCLUIDO')"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="cards-container" style="background-color: var(--st-concluido-background);">
                {% for processo in processos_concluidos %}
                    {% include 'partials/card_processo.html' with processo=processo %}
                {% endfor %}
            </div>
            <div class="footer" style="background-color: var(--st-concluido-background); color: var(--st-concluido);">
                <i class="fa-solid fa-plus footer_elemento"></i>
                <button class="footer_elemento" style="color: var(--st-concluido);" onclick="abrirModalCriacao('CONCLUIDOS')">Adicionar Processo</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE CRIAÇÃO / EDIÇÃO -->
 {% include 'partials/modal_processo.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/gerenciamento_processos.js' %}"></script>
{% endblock %}