{% extends 'base.html' %}
{% load static %}

{% block title %}Gerenciar Processos - Supera{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gerenciamento_processo.css' %}">
{% endblock %}

{% block content %}
<div class="kanban-wrapper">
    
    <div class="kanban-board">
        <div class="kanban-column">
            <div class="column-header" style="background-color: var(--light-font2); color: #fff;">
                <h3>Excluídos</h3>
            </div>
            <div class="cards-container" style="background-color: var(--area-background);">
                <div class="kanban-card" draggable="true">Card Exemplo 1</div>
                <div class="kanban-card" draggable="true">Card Exemplo 2</div>
                <div class="kanban-card" draggable="true">Card Exemplo 3</div>
                <div class="kanban-card" draggable="true">Card Exemplo 4</div>
                <div class="kanban-card" draggable="true">Card Exemplo 5</div>
            </div>
        </div>

        <div class="kanban-column">
            <div class="column-header" style="background-color: var(--st-ativo); color: #fff;">
                <h3>Ativos</h3>
            </div>
            <div class="cards-container" style="background-color: var(--st-ativo-background);">
                <div class="kanban-card" draggable="true">Card Exemplo 6</div>
                <div class="kanban-card" draggable="true">Card Exemplo 7</div>
            </div>
        </div>

        <div class="kanban-column">
            <div class="column-header" style="background-color: var(--st-vencendo); color: #fff;">
                <h3>Vencendo</h3>
            </div>
            <div class="cards-container" style="background-color: var(--st-vencendo-background);">
                <div class="kanban-card" draggable="true">Card Exemplo 8</div>
            </div>
        </div>

        <div class="kanban-column">
            <div class="column-header" style="background-color: var(--st-vencido); color: #fff;">
                <h3>Vencidos</h3>
            </div>
            <div class="cards-container" style="background-color: var(--st-vencido-background);">
                </div>
        </div>

        <div class="kanban-column">
            <div class="column-header" style="background-color: var(--st-concluido); color: #fff;">
                <h3>Concluídos</h3>
            </div>
            <div class="cards-container" style="background-color: var(--st-concluido-background);">
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/gerenciamento_processos.js' %}"></script>
{% endblock %}