{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Supera Contabilidade</title>
    <link rel="stylesheet" href="{% static '../static/css/global.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/login.css' %}">
</head>
<body>
    <header>
        <div><img src="../static/img/logo-login.png" alt="Logo Supera Contabilidade"></div>
        <div>
            <p>Desenvolvido por Henrique Cardoso © 2026</p>
        </div>
    </header>
    <main>
        <h1>Bem vindo(a)!</h1>
    </main>
</body>
</html>