{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Supera Contabilidade</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script>
        const temaSalvo = localStorage.getItem('tema') || 'light';
        document.documentElement.setAttribute('data-theme', temaSalvo);
    </script>
</head>

<body>
    <header>
        <div><img src="{% static 'img/logo-login.png' %}" alt="Logo Supera Contabilidade"></div>
        <div>
            <p>Desenvolvido por Henrique Cardoso © 2026</p>
        </div>
    </header>
    <main>
        <div class="container_form">
            <h1>Bem vindo(a)!</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %} {% if form.non_field_errors %}
                <div class="erros-gerais">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="campo-form">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label> {{ form.username }} {% if form.username.errors %}
                    <span class="erro">{{ form.username.errors }}</span> {% endif %}
                </div>
                <div class="campo_form">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label> {{ form.password }} {% if form.password.errors %}
                    <span class="erro">{{ form.password.errors }}</span> {% endif %}
                </div>
                <a href="{% url 'password_reset' %}">Esqueci minha senha</a href="{% url 'password_reset' %}">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
    <script src="{% static 'scripts/utils.js' %}"></script>
</body>

</html>